<footer class="page-footer white">
  <div class="footer-copyright blue">
    <div class="container">
      All articles belong to <a href='http://www.espn.com/nfl/' target="_blank">ESPN/NFL</a>
      <a class="black-text right" href="/articles-json">JSON </a>
    </div>
  </div>
</footer>